
/DibattitoScienza.iml
/.idea/
/src/main/java/ds/Prova.java

/src/main/resources/ds/giofic95.json
/src/main/resources/ds/notes.txt
/src/main/resources/ds/prova.html
/src/main/resources/ds/backup.sql
/src/main/resources/ds/bonino.json
/src/main/resources/ds/salerno.json

/target/classes/ds/*
!/target/classes/ds/web
